@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://use.typekit.net/xhj5jgt.css"); */


@layer base {
  h1 {
    @apply antialiased text-6xl leading-none tracking-tight font-display
  }
  h2 {
    @apply antialiased text-4xl leading-tight tracking-tight font-display
  }
  p {
    @apply antialiased text-lg leading-[1.55] 
  }
}

:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html {
  @apply mx-auto;
  max-width: 1700px;
}

html,
body {
  overflow-x: hidden;
}

body {
  @apply md:px-12 md:pb-12 p-4
}

a {
  color: inherit;
  @apply underline
}